.customHeader{
    height: 500px;

}



@media only screen and (min-width: 778px ) and (max-width:960px) {
    .customHeader{
        height: 500px;
    
    }
    
}

@media only screen and (min-width: 608px ) and (max-width:660px) {
    .customHeader{
        height: 480px;
    
    }
}
@media only screen and (min-width: 500px ) and (max-width:607px) {
    .customHeader{
        height: 450px;
    
    }
}
@media only screen and (min-width: 480px ) and (max-width:500px) {
    .customHeader{
        height: 400px;
    
    }
    .custom-layer{
        font-size: 20px !important; 
        line-height: 20px !important;

    }
}
@media only screen and (max-width:480px) {
    .customHeader{
        height: 300px;
    
    }
    #index_whoWeAre{
        font-size: 13px !important;
    }
    .custom-layer{
        font-size: 13px !important; 
        line-height: 20px !important;

    }
}
@media only screen and (min-width: 768px) {
    #slider-1-slide-1-layer-0 {
        display: none;
    }
    #usGulf{
        font-weight: 700;
        font-size: medium;
    }
    
}

/* 1024, 768, 480, 1240 */